@font-face {
  font-family: "Star Jedi";
  src: url("../fonts/star-jedi.ttf");
}

body * {
  font-family: "Star Jedi", arial;
  text-transform: lowercase;
}

body {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

ul>li>ul>li {
  margin-left: 30px;
}

.or-title {
  margin: 20px 0 40px 0 !important;
  text-align: center;
  color: #FFE81F;
}

.message-body-title,
.message-body-subtitle,
.message-body-info {
  margin-bottom: 15px;
}

.search {
  display: flex;
}

#content {
  max-height: 35vh;
  min-height: 35vh;
  overflow-x: auto;
  overflow-y: auto;
}

.primary {
  padding-top: 0;
}

#result-container {
  visibility: hidden;
}

.spinner {
  visibility: hidden;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}